<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body id="page-top">
    <!-- Navigation-->
    <%- include('./partials/navbar') %>


    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Welcome to Car Rent</h1>
            <p class="lead">Find the best rental cars </p>
            <a class="btn btn-lg btn-light" href="/states">Rent a car</a>
        </div>
    </header>
    <!-- About section-->

    <body>


        <center> <%- include ('./partials/flash') %>
        </center>
    </body> <!-- Footer-->
    <%- include('./partials/footer') %>


</body>

</html>